services:
  db:
    container_name: postgres
    image: postgres:latest
    env_file:
      - db.env
    volumes:
      - db:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  db: {}