# Publish maybe?
name: Build and Publish to Docker

on: workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build and push backend image
              uses: docker/build-push-action@v4
              with:
                  context: ./apps/backend
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/knowledge-assistant-backend:latest

            - name: Build and push frontend image
              uses: docker/build-push-action@v4
              with:
                  context: ./apps/frontend
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/knowledge-assistant-frontend:latest
    